{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "@typescript-eslint",
    "import",
    "jest",
    "jsx-a11y",
    "unicorn"
  ],
  "env": {
    "node": true,
    "browser": false,
    "jest/globals": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:unicorn/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-shadow": [2],
    "array-bracket-newline": [2, { "multiline": true }],
    "array-bracket-spacing": [2, "never"],
    "array-element-newline": [2, { "multiline": true, "minItems": 3 }],
    "arrow-spacing": [2, { "before": true, "after": true }],
    "block-spacing": [2, "always"],
    "brace-style": [
      2,
      "1tbs",
      {
        "allowSingleLine": true
      }
    ],
    "capitalized-comments": [2, "always", { "ignoreConsecutiveComments": true }],
    "comma-dangle": [2, "never"],
    "comma-spacing": [2, { "before": false, "after": true }],
    "comma-style": [2, "last"],
    "computed-property-spacing": [2, "never"],
    "curly": 2,
    "default-case": 2,
    "default-case-last": 2,
    "default-param-last": 2,
    "dot-location": [2, "property"],
    "dot-notation": 2,
    "eqeqeq": 2,
    "func-call-spacing": 2,
    "func-name-matching": 2,
    "func-names": 2,
    "function-call-argument-newline": [2, "consistent"],
    "function-paren-newline": [2, "multiline"],
    "global-require": 0,
    "grouped-accessor-pairs": [2, "getBeforeSet"],
    "guard-for-in": 2,
    "id-length": [2, { "exceptions": ["_", "x", "y", "z"] }],
    "implicit-arrow-linebreak": [2, "beside"],
    "import/default": 2,
    "import/export": 2,
    "import/newline-after-import": 2,
    "import/no-dynamic-require": 2,
    "import/no-unresolved": 0,
    "import/no-useless-path-segments": 2,
    "import/prefer-default-export": 0,
    "indent": [2, 2, {
      "SwitchCase": 1
    }],
    "jest/consistent-test-it": [2, {"fn": "it"}],
    "jest/expect-expect": 2,
    "jest/no-commented-out-tests": 1,
    "jest/no-deprecated-functions": 2,
    "jest/no-disabled-tests": 1,
    "jest/no-done-callback": 2,
    "jest/no-focused-tests": 2,
    "jest/no-identical-title": 2,
    "jest/no-standalone-expect": 2,
    "jest/no-test-prefixes": 2,
    "jest/prefer-expect-assertions": 2,
    "jest/prefer-to-have-length": 1,
    "jest/prefer-todo": 2,
    "jest/valid-expect": 2,
    "jest/valid-title": [2, {
      "mustMatch": ["^should"]
    }],
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/mouse-events-have-key-events": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-quotes": [2, "prefer-double"],
    "key-spacing": [2, { "beforeColon": false }],
    "keyword-spacing": [2, { "before": true, "after": true }],
    "line-comment-position": [2, { "position": "above" }],
    "max-len": [
      2,
      {
        "code": 120,
        "tabWidth": 2,
        "ignoreComments": true,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "max-statements": [2, { "max": 10 }],
    "multiline-comment-style": [2, "starred-block"],
    "multiline-ternary": [2, "always-multiline"],
    "new-cap": 2,
    "new-parens": [2, "always"],
    "newline-per-chained-call": [2, { "ignoreChainWithDepth": 2 }],
    "no-array-constructor": 2,
    "no-bitwise": 2,
    "no-caller": 2,
    "no-console": [
      1,
      {
        "allow": ["warn", "error"]
      }
    ],
    "no-constructor-return": 2,
    "no-else-return": 2,
    "no-eval": 2,
    "no-extend-native": 2,
    "no-extra-bind": 2,
    "no-extra-label": 2,
    "no-iterator": 2,
    "no-label-var": 2,
    "no-lonely-if": 2,
    "no-multi-assign": 2,
    "no-multi-spaces": 2,
    "no-multi-str": 2,
    "no-multiple-empty-lines": [2, { "max": 1 }],
    "no-nested-ternary": 0,
    "no-new-func": 2,
    "no-new-object": 2,
    "no-nonoctal-decimal-escape": 2,
    "no-octal-escape": 2,
    "no-param-reassign": 2,
    "no-plusplus": 2,
    "no-proto": 2,
    "no-restricted-globals": [2, { "name": "event", "message": "Use local parameter instead." }, { "name": "name", "message": "Usage of global name instead of name prop. This is probably an error" }],
    "no-return-await": 2,
    "no-script-url": 2,
    "no-self-compare": 2,
    "no-sequences": 2,
    "no-shadow": 0,
    "no-template-curly-in-string": 2,
    "no-throw-literal": 2,
    "no-trailing-spaces": 2,
    "no-undef-init": 2,
    "no-undef": 2,
    "no-undefined": 2,
    "no-underscore-dangle": 0,
    "no-unmodified-loop-condition": 2,
    "no-unneeded-ternary": 2,
    "no-unreachable-loop": 2,
    "no-use-before-define": 0,
    "no-useless-rename": 2,
    "no-var": 2,
    "no-warning-comments": 1,
    "no-whitespace-before-property": 2,
    "object-curly-newline": [
      2,
      {
        "multiline": true,
        "minProperties": 3,
        "consistent": true
      }
    ],
    "object-curly-spacing": [2, "always"],
    "object-property-newline": [2, { "allowAllPropertiesOnSameLine": false }],
    "one-var": [2, "never"],
    "operator-linebreak": [2, "before"],
    "padded-blocks": [2, "never"],
    "prefer-arrow-callback": 2,
    "prefer-const": 1,
    "prefer-destructuring": 2,
    "prefer-exponentiation-operator": 2,
    "prefer-named-capture-group": 2,
    "prefer-object-spread": 2,
    "prefer-rest-params": 2,
    "prefer-spread": 1,
    "prefer-template": 2,
    "quote-props": [2, "as-needed"],
    "quotes": [2, "single"],
    "radix": 2,
    "semi": [2, "never"],
    "space-before-function-paren": [2, "never"],
    "strict": 0,
    "unicorn/filename-case": 0,
    "unicorn/new-for-builtins": 0,
    "unicorn/no-null": 0,
    "unicorn/prevent-abbreviations": 0,
    "use-isnan": 2,
    "wrap-iife": 2
  },
  "overrides": [
    {
      "files": ["*.ts","*.tsx"],
      "parser": "@typescript-eslint/parser",
      "plugins": ["@typescript-eslint"],
      "extends": ["plugin:@typescript-eslint/recommended"],
      "rules": {
        "@typescript-eslint/array-type": [2, { "default": "array" }],
        "@typescript-eslint/consistent-type-definitions": [2, "interface"],
        "@typescript-eslint/consistent-type-exports": 2,
        "@typescript-eslint/consistent-type-imports": [2, {"prefer": "type-imports"}],
        "@typescript-eslint/explicit-module-boundary-types": 0,
        "@typescript-eslint/member-delimiter-style": ["error", {
          "multiline": {
            "delimiter": "none",
            "requireLast": true
          },
          "singleline": {
            "delimiter": "none",
            "requireLast": true
          }
        }],
        "@typescript-eslint/member-ordering": 2,
        "@typescript-eslint/no-unnecessary-boolean-literal-compare": 2,
        "@typescript-eslint/no-unnecessary-condition": 2,
        "@typescript-eslint/no-unnecessary-type-arguments": 2,
        "@typescript-eslint/no-unnecessary-type-assertion": 2,
        "@typescript-eslint/non-nullable-type-assertion-style": 2,
        "@typescript-eslint/prefer-nullish-coalescing": 2,
        "@typescript-eslint/prefer-optional-chain": 2,
        "@typescript-eslint/prefer-string-starts-ends-with": 2,
        "@typescript-eslint/type-annotation-spacing": 2,
      }
    }
  ]
}